body {
    background-image: url("../images/space.jpg");
    background-repeat: repeat-x repeat-y;
    background-position: right top;
}
p {
    font-family:'Permanent Marker', cursive;
    text-align: center;
    font-size: 50px;
    -webkit-margin-after: 0px;
}
ul {
    list-style: none;
}
li {
    font-family:'Special Elite', cursive;
    font-size: 2em;
}
input[type=radio] {
    width: 15px;
    height: 1.5em;
}
/* Quiz Classes */
.timer {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}
.quizContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F3F4;
    opacity: .80;
    border-radius: 80px;
    width: 75%;
    padding-top: 5px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}
.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    /*clear: both;*/
    color: #424949;
    font-family:'Permanent Marker', cursive;
    position: relative;
    margin: auto;
    padding-top: 20px;
}
.nextButton:active {
    background-color: white;
}
.question {
    font-family:'Patrick Hand SC', cursive;
    font-size: 2em;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 15px;
    border-radius: 100px;
    background-color: lightgrey;
    text-align: center;
}
.choiceList {
    color: black;
    font-size: 14px;
}
.result {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: green;
    font-family:'Special Elite', cursive;
}
.incorrect {
    width: 100%;
    height: auto;
    margin: auto;
    color: red;
    text-align: center;
    font-family:'Special Elite', cursive;
}
.unanswered {
    width: 100%;
    height: auto;
    margin: auto;
    color: red;
    text-align: center;
    font-family:'Special Elite', cursive;
}
/* End of Quiz Classes */